extends _layout/layout.pug
block main 

	//- Phần này viết mixin 
		

	//- kết thúc viết mixin


	//- Phần baner trang chủ
	section.home_banner
		.container 
			.row
				.col 
					h1 Hi there! We are the new kids on the block and we build awesome websites and mobile  apps.
					p
						a.btn.btn-light.btn-more(href="#") WORK WITH US!
	//- Phần  section service

	section.home_service 
		.container 
			.row.title_all
				.col.text-center
					h2 SERVICES WE PROVIDE
					p We are working with both individuals and businesses from all over the globe to create awesome websites and applications.
			.row.home_service_icon
				.col-md-3
					figure
						a(href="#") 
							img(src="img/home_icon_1.png", alt="alt").home_service_icon_1
						figcaption
					h3 Branding
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
				.col-md-3
					figure
						a(href="#") 
							img(src="img/home_icon_2.png", alt="alt").home_service_icon_1
						figcaption
					h3 Design
					p Sed ut perspiciatis unde omnis iste natus error sit voluptatem  
				.col-md-3
					figure
						a(href="#") 
							img(src="img/home_icon_3.png", alt="alt").home_service_icon_1
						figcaption
					h3 Development
					p At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentium.
				.col-md-3
					figure
						a(href="#") 
							img(src="img/home_icon_4.png", alt="alt").home_service_icon_1
						figcaption
					h3 ROCKET SCIENCE
					p Et harum quidem rerum est et expedita distinctio. Nam libero tempore.		
	//- Viết home team 

	//- Mixin thêm thành viên cho Team
	mixin member(img,link,namelink,name,text)
		figure
			a(href="#") 
				img(src='img/'+img, alt="").team_member
			figcaption 
		h4.pt-md-3.pb-md-3=name
		.text-center
			a(href=link)=namelink
			p=text
		.box_team_icon
			a(href="#").team_icon
				i.fab.fa-facebook-f
			a(href="#").team_icon
				i.fab.fa-twitter
			a(href="#").team_icon
				i.fab.fa-linkedin-in
			a(href="#").team_icon
				i.fas.fa-envelope
	//- kết thúc mixin
	section.home_team
		.container
			.row.text-center.title_all
				.col 
					h2 MEET OUR BEAUTIFUL TEAM
					p.pl-5.pr-5 We are a small team of designers and developers, who help brands with big ideas.
			.row.member_team
				.col-md-3.home_member
					+member('home_member_1.png','#', 'CEO / Marketing Guru','ANNE HATHAWAY', 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.')
				.col-md-3.home_member
					+member('home_member_1.png','#','Kate Upton','Creative Director','Duis aute irure dolor in in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat non diam proident.')
				.col-md-3.home_member
					+member('home_member_1.png','#','Olivia Wilde','Lead Designer','Nemo enim ipsam voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem nesciunt.')
				.col-md-3.home_member
					+member('home_member_1.png','#','Ashley Greene','SEO / Developer','Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.')

	section.home_skill 
		.container
			.row.text-center.title_all
				.col 
					h2 WE GOT SKILLS!
					p We are a small team of designers and developers, who help brands with big ideas.

			.row
				.col 
					


	//- Mixin img
	mixin imgPro(img,name)
		figure
			img(src="img/"+img, alt="alt").mt-md-3
			figcaption.mt-md-2=name

	//- Phần Portfolio
	section.home_Portfolio
		.container
			.row.text-center.title_all
				.col 
					h2 OUR PORTFOLIO
					p.pr-5.pl-5 Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam
			.row
				.col
					.box-btn
						a(href="#").btn.btn-light ALL
						a(href="#").btn.btn-light WEB
						a(href="#").btn.btn-light APPS
						a(href="#").btn.btn-light ICONS
			.row.mt-md-5.pt-md-5
				.col-md-6
					+imgPro('home_pro_1.png',"Isometric Perspective Mock-Up")
				.col-md-6
					+imgPro('home_pro_1.png','Time Zone App UI')
				.col-md-6
					+imgPro('home_pro_1.png','Viro Media Players UI')
				.col-md-6 
					+imgPro('home_pro_1.png','Blog / Magazine Flat UI Kit')
			
				.col-md-12.text-center.mt-3
					p.pt-5.pb-5.mb-5.mt-3
						a.btn.btn-light.btn-more(href="#") LOAD MORE PROJECTS


	
		
	//- phần  về chúng tôi 
	section.home_about
		.container 
			.row.text-center.title_all
				.col 
					h2 WHAT POEPLE SAY ABOUT US
					p Our clients love us!
			.row.test_avatar
				.col-md-6.p-5
						figure
							img(src="img/home_member_1.png", alt="alt").class
							figcaption 
						.text 
							p “Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla 	urna eu nisl scelerisque.”
							h2 Chanel Iman
							h6 CEO of Pinterest
				.col-md-6.p-5
						figure
							img(src="img/home_member_1.png", alt="alt").class
							figcaption 
						.text 
							p “Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla 	urna eu nisl scelerisque.”
							h2 Chanel Iman
							h6 CEO of Pinterest		
				.col-md-6.p-5
						figure
							img(src="img/home_member_1.png", alt="alt").class
							figcaption 
						.text 
							p “Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla 	urna eu nisl scelerisque.”
							h2 Chanel Iman
							h6 CEO of Pinterest
				.col-md-6.p-5
						figure
							img(src="img/home_member_1.png", alt="alt").class
							figcaption 
						.text 
							p “Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla 	urna eu nisl scelerisque.”
							h2 Chanel Iman
							h6 CEO of Pinterest		

	//- Phần liên hệ

	section.home_contact
		.container
			.row.text-center.title_all
				.col
					h2 GET IN TOUCH
					p 1600 Pennsylvania Ave NW, Washington, DC 20500, United States of America. Tel: (202) 456-1111
			form
				.form-row.p-5
					.col
						input.form-control(type='text', placeholder='First name')
					.col
						input.form-control(type='text', placeholder='Last name')
					.col-12.mt-3
						textarea#exampleFormControlTextarea1.form-control(rows='7', placeholder="Your Message")
			.row
				.col-md-12.text-center
					p.mt-2.mb-5
						a.btn.btn-light.btn-more(href="#") SEND MESSAGE







